<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :body, "Your Answer" %>
  <%= text_input f, :body %>
  <%= error_tag f, :body %>

  <div>
    <%= submit "Submit" %>
  </div>
<% end %>
