<span><%= link "Edit", to: Routes.question_path(@conn, :edit, @question) %></span>
<span><%= link "Back", to: Routes.question_path(@conn, :index) %></span>

<h1><%= @question.title %></h1>
<p><%= @question.body %>

<%= render StackunderflowWeb.AnswerView, "form.html", changeset: @answer_changeset, action: Routes.question_answer_path(@conn, :create, @question) %>

<%= if @question.accepted_answer do %>
<h3>Accepted Answer</h3>

<div style="background: #cfc; padding: 18px">
  <%= @question.accepted_answer.body %>
</div>
<% end %>

<hr />

<h3>Answers</h3>

<%= for answer <- Enum.reverse(@question.answers) do %>
  <div style="display: flex; justify-content: space-between; background: #eee; padding: 18px; margin: 6px">
  <%= answer.body %>
  <%= form_for @conn, Routes.question_answer_path(@conn, :accept_answer, @question, answer), [method: :put], fn f -> %>
    <%= submit "Accept Answer" %>
  <% end %>

</div>
<% end %>
